@font-face {
    font-family: ProximaNova-RegularIt;
    src: url("fonts/ProximaNova-RegularIt.ttf");
}


$f-f1: 'ProximaNova-RegularIt';
$f-f2:'Open Sans', sans-serif;
$fo-si14: 14px;
$c-bg-color: #FFFFFF;
$box-shadow: 0px 0px 35px #D5D5E3;
$c-width: 330px;
$c-height: 400px;
$t-height: 324px;
$c-b-rad: 5px;


@mixin card {
    background-color: $c-bg-color;
    box-shadow: $box-shadow;
    width: $c-width;
    height: $c-height;
    border-radius: $c-b-rad;
}

@mixin tw-post {
    height: $t-height;
    width: $c-width;    
}

img {
    display: inline;
}
  
div {
    box-sizing: border-box;
}
  
body {
    min-width: 481px;
    width: 99vw;
    height: 99vh;
    margin: 0 auto;
    padding: 0;
    font-family: $f-f2;
    background-color: #E5E5E5;
}

.cards .container {
    display: flex;
    justify-content: space-between;
    margin-top: -15%;
    background-color: #E5E5E5;

    .Bitcoin {
        @include card;
    }
    .Litcoin {
        @include card;
    }
    .Dash {
        @include card;
    }
}

.news-articles {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
 
    .left-art {
        justify-content: center;
        width: 330px;
        height: 324px;
        background: #FFFFFF;
        box-shadow: 0 0 35px #D5D5E3;
        border-radius: 5px;
    }
    .center-art {
        justify-content: center;
        width: 330px;
        height: 324px;
        background: #FFFFFF;
        box-shadow: 0 0 35px #D5D5E3;
        border-radius: 5px;
    }
    .right-art {
        justify-content: center;
        width: 330px;
        height: 324px;
        background: #FFFFFF;
        box-shadow: 0 0 35px #D5D5E3;
        border-radius: 5px;
    }
}
  
.tweets-art {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    
    .left-tweet {
       @include tw-post;
    }
    .center-tweet {
        @include tw-post;
    }
    .right-tweet {
        @include tw-post;
    }
}

@media screen and (max-width: 480px) {
    .header {
        background-image: none;
        background: #5438b4;
    }
    .cards {
        margin-top: 100px;
        position: relative;
        overflow: hidden;
    }
    .internet .news-articles .cards {
        display: block;
    }
    .Bitcoin {
        animation-name: slid;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}


@media screen and (min-width: 481px) and (max-width: 1100px) {
    .Dash {
        display: none;
    }
    .left-art {
        display: none;
    }
    .right-tweet {
        display: none;
    }
    h {
        display: none;
    }
    .nickocean-btn {
        display: none;
    }
    .btc-btn {
        display: none;
    }
}

.logo1 {
    flex-grow: 1;
    font-size: $fo-si14 +7px;
}

.mobile {
    display: none;
}

.bold {
    font-weight: bold;
}
  
.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 1005px;
    width: 100vw;
    margin: 0 auto;
}
  
.exchange {
    display: flex;
    color: white;
    padding-top: 10px;
    justify-content: space-between;
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #F5F5F5; 
}

.time {
    flex-grow: 8;
    padding-bottom: 5px;
}

.bi {
    flex-grow: 25;
    padding-bottom: 5px;
}

.languages {
    flex-grow: 1;
    padding-bottom: 5px;
}

.h {
    margin-right: 7px;
    font-size: $fo-si14;
    color: #FFFFFF;
}

.navigation {
    margin-top: 25px;
    display: flex;
}

.logo {
    flex-grow: 1;
    font-size: $fo-si14 +7px;
}

.logo img {
    margin: 0;
    padding: 5px 0;
    float: left;
}

.logo p {
    float: left;
    color: white;
    margin-left: 10px;
    font-size: $fo-si14 +6px;
    margin-top: 14px;
}

.btc {
    width: 105px;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    border: 1.5px solid #FFFFFF; 
    color: #FFFFFF;
}

.btc-btn {
    flex-grow: 2;
    margin-left: 61px;  
    :hover {
        color: #E8B92A;
    } 
}

.btc-btn img {
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 7px;
}

.menu {
    flex-grow: 7;
    font-size: $fo-si14;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 5px;
    padding: 5px;
}

.menu nav a:visited {
    color: white;
    text-decoration: none;  
}

.menu nav a:link {
    color: white;
    text-decoration: none;
}

.home {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.nickocean-btn {
    flex-grow: 1;
    :hover {
        color: #5438b4;
    }
}

.nickocean {
    width: 160px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
}

.container-c {
    width: 30%;
    margin: 0 auto;
}

.register {
    width: 50%;
    margin-top: 151px;
    font-size: $fo-si14;
}

h1 {
    color: white;
    font-size: $fo-si14 *2;
}

h10 {
   font-size: $fo-si14 *2;
   color: #333333 bold;
}

.register p {
    color: white;
    font-size: $fo-si14;
    line-height: 1.7;
}

.registration {
    width: 200px;
    height: 35px;
    border-radius: 21px;
    :hover {
        color: #5438b4;
    }
}

.content {
    margin-left: 35px;
    padding-top: 29px;
    margin-right: 47px;
}
  
.Bitcoin img {
    display: inline;
}

.Bitcoin h1 {
    display: inline;
    margin-left: 10px;
    font-size: $fo-si14 +13px;
    color: black;
}

.cost {
    display: flex;
    justify-content: space-between;
}

.Bitcoin h2 {
    font-size: $fo-si14;
    color: #4F4F4F;
    padding-top: 14px;
    margin: 0;
}

.Bitcoin p1 {
    font-size: $fo-si14 +6px;
    color: #333333;
    font-weight: bold;
}

.Bitcoin a {
    text-decoration: none;
}

.Bitcoin h3 {
    font-size: $fo-si14;
    font-weight: bold;
}

.but {
    padding-top: 10px;
}

.start {
    display: block;
    background-color: #5438b4;
    border-color: #5438b4;
    border-radius: 5px;
    width: 276px;
    height: 42px;
    color: white;
}

button:hover {
    color: #5438b4;
    height: 60px;
}

.view {
    margin-top: 10px;
    display: block;
    background-color: white;
    border-color: #5438b4;
    width: 276px;
    height: 42px;
    border-radius: 5px;
    color: #5438b4;
}

.Litcoin img {
    display: inline;
}

.Litcoin h1 {
    display: inline;
    margin-left: 10px;
    font-size: $fo-si14 +13px;;
    color: black;
}

.Litcoin h2 {
    font-size: $fo-si14;
    color: #4F4F4F;
    padding-top: 14px;
    margin: 0;
}

.Litcoin p1 {
    font-size: $fo-si14 +6px;
    color: #333333;
    font-weight: bold;
}

.Litcoin a {
    text-decoration: none;
}

.Litcoin h3 {
    font-size: $fo-si14;
    font-weight: bold;
}
 
.Dash img {
    display: inline;
}

.Dash h1 {
    display: inline;
    margin-left: 10px;
    font-size: $fo-si14 +13px;
    color: black;
}

.Dash h2 {
    font-size: $fo-si14;
    color: #4F4F4F;
    padding-top: 14px;
    margin: 0;
}

.Dash p1 {
    font-size: $fo-si14 +6px;
    color: #333333;
    font-weight: bold;
}

.Dash a {
    text-decoration: none;
}

.Dash h3 {
    font-size: $fo-si14;
    font-weight: bold;
}
  
.news-block {
    margin-top: 5%;
    margin-bottom: 19px;
}  

.pur {
   float: left; 
   width: 30%;
   background-color: #5438b4;
   height: 5px;
   border-radius: 3px;
}
  
.grey {
   float: right;
   width: 70%;
   background-color: #CCD4DC;
   height: 2px;
   border-radius: 1px;
}
  
.left-art p2 {
   font-size: $fo-si14;
   margin-top: 23px;
   margin-left: 20px;
   color: #449ED1;
   text-transform: uppercase;
}

.center-art p3 {
   font-size: $fo-si14;
   margin-top: 23px;
   margin-left: 20px;
   color: #EB5757;
   text-transform: uppercase;
}
  
.right-art p4 {
   font-size: $fo-si14;
   margin-top: 23px;
   margin-left: 20px;
   color: #E8B92A;
   text-transform: uppercase;
}
  
h4 {
   margin-left: 19px;
   letter-spacing: 0.05em;
   line-height: normal;
   height: 80px;
}
  
h5 {
   margin-left: 20px; 
   height: 127px;
}
  
h6 {
   margin-bottom: 100%;
   margin-left: 21px;
   color: #AFAFAF;
}
  
.tweet-block {
   display: flex;
   justify-content: space-between;
   margin-top: 5%;
   margin-bottom: 19px;
}
    
p5 {
   color: #2F80ED;
   font-size: $fo-si14;
   letter-spacing: 0.05em;  
}
  
h7 {
   margin-top: 10px;
   height: 97px;
   font-size: $fo-si14;
   letter-spacing: 0.05em;
}
  
h8 {
   color: #AFAFAF;
   font-size: $fo-si14;
   letter-spacing: 0.05em;
   padding-left: 150px;
}
  
.tags {
    color: #2F80ED;
    font-size: $fo-si14;
    letter-spacing: 0.05rem;
}

.footer {
    background-color: #FFFFFF;
    height: 123px;
}
  
.fbtc-btn img {
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 7px;
}
  
.fbtc {
    margin-top: 18px;
    width: 105px;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    color: #333333;
    margin-bottom: 32px;
    border: 1.5px solid #CCD4DC; 
}
  
.navigation-f {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
  
.f-grey {
    width: 100%;
    background-color: #CCD4DC;
    height: 2px;
}
  
.menu-f li {
    display: inline;
    margin: 5px;
    padding: 5px;
}

.menu-f nav a:visited {
    color: black;
    text-decoration: none;
}

.menu-f nav a:link {
    color: black;
    text-decoration: none;
}
  
p6 {
    margin-bottom: 100px;
}
   
h6 {
    font-size: $fo-si14;
    color: #333333;
    opacity: 0.6;
}
  
.one {
   text-align: center;
   background-size: 100%;
}
  
.read {
   width: 107px;
   height: 38px;
   border-radius: 21px;
   font-size: $fo-si14;
   text-align: center;
   border-color: #5438b4;
   color: #5438b4;
}